extends layout.pug

block link
    -var active = 'About Us';

block content
    main(class='container')
        div(class='row')
            div(class='col-md-6')
                h2 sam bio
            div(class='col-md-6')
                h2 About Keiti
                p Hello! I'm a 20 year old CS student who's interested in learning to cook. I enjoy organizing, roller skating, and eating. I'm currently a 3rd year student at CSUMB. While I am very visual and enjoy web design and web development, I love the logic and problem solving side of CS, which is what made me switch majors to CS last semester. idk what else to put here lol im so boring
                p For me, this blog and the  recipes I post here will document my cooking journey. Because of the lockdown that's currently in place, I've been forced to eat a lot more at home instead of getting takeout, which has pushed me to slowly begin experimenting and growing as a chef! I'm really excited to continue to try more recipes and learn new techniques, and I would love to share what I find with you all.
                p This site was also built by Sam and I! This was a really exciting learning experience for me because I was able to try a lot of new things while being able to have complete creative freedom. It was really hard to get this out in the limited timeframe because we originally set our goals very high. I'm so proud of what we've accomplished with the site, and I hope we continue to improve and expand it.