extends layout.pug

block link
    -var active = title;

block content
    main(class='container')
        div(class='row')
            div(class='col-md-6')
                h2 sam bio
            div(class='col-md-6')
                h2 keiti bio  
        