extends layout.pug

block link
    -var active = 'All Recipes';

block content
    main(class='container')
        h1 All Recipes
        form#searchAll(action="/recipes" method='POST')
            .form-row
                .form-group.m-2
                    label(for='filterKeyword') Keyword:
                    input.form-control(type='text' id='filterKeyword' name='filterKeyword' placeholder='Filter By Keyword')
                .form-group.m-2
                    label.mr-2(for='filterDifficulty') Difficulty: 
                    select.form-control(id='filterDifficulty' name='filterDifficulty')
                        option(name='filterDifficulty' value='') All
                        option(name='filterDifficulty' value='Easy') Easy
                        option(name='filterDifficulty' value='Medium') Medium
                        option(name='filterDifficulty' value='Hard') Hard
                .form-group.m-2
                    label Tags:
                    ul.list-group.list-group-horizontal-sm
                        li.list-group-item.py-2
                            .form-check
                                input.form-check-input(type='checkbox' id='filterGluten' name='filterTag' value='is_glutenFree')
                                label.form-check-label(for='filterGluten') GF
                        li.list-group-item.py-2
                            .form-check
                                input.form-check-input(type='checkbox' id='filterVegetarian' name='filterTag' value='is_vegetarian')
                                label.form-check-label(for='filterVegetarian') V
                        li.list-group-item.py-2
                            .form-check
                                input.form-check-input(type='checkbox' id='filterVegan' name='filterTag' value='is_vegan')
                                label.form-check-label(for='filterVegan') VG
                        li.list-group-item.py-2
                            .form-check
                                input.form-check-input(type='checkbox' id='filterDairy' name='filterTag' value='is_dairyFree')
                                label.form-check-label(for='filterDairy') DF
                .form-group.m-2
                    label.mr-2(for='sortTime') Cook Time: 
                    select.form-control(id='sortTime' name='sortTime')
                        option(name='sortTime' value='') Unsorted
                        option(name='sortTime' value='shortToLong') Shortest to Longest
                        option(name='sortTime' value='longToShort') Longest to Shortest
                .form-group.m-2.px-2.mt-4.ml-5
                    button.btn.btn-outline-secondary(type='reset') Reset Filters
                .form-group.m-2.px-2.mt-4
                    button.btn.btn-primary(type='submit') Apply
        hr
        each recipe in recipes
            .col-lg-12
            .card.mx-auto.mb-5(style='width:40em;')
                img.card-img-top(src=bucketurl + recipe.image_path)
                if recipe.is_glutenFree || recipe.is_vegetarian || recipe.is_vegan || recipe.is_dairyFree
                    div.card-header.text-center
                        if recipe.is_glutenFree
                            div.tag.gf GF
                        if recipe.is_vegetarian
                            div.tag.v V
                        if recipe.is_vegan
                            div.tag.vg VG
                        if recipe.is_dairyFree
                            div.tag.df DF
                div.card-body
                    h5.card-title.text-center 
                        a(href='/recipes/' + recipe.recipe_id)= recipe.recipe_name
                    hr
                    div.row
                        div.col-sm-6.text-left.text-muted= recipe.difficulty
                        -
                            var total = recipe.overall_time;
                            total = total.slice(0, -3);
                        div.col-sm-6.text-right.text-muted= total
