extends layout.pug

block link 
    -var active = 'Find A Drink';

block content
    main(class='container')
        h1 Drinks API

append scripts
    script
        include ../public/javascripts/drinks.js