extends layout.pug

append styles
    link(rel='stylesheet' type='text/css' href='/stylesheets/favorites.css')

block link 
    -var active = 'Just A Nibble';

block content
    main(class='container')
        h1 Chef's favorites
        //- -console.log(JSON.stringify(recipes));
        //- -var recipes = JSON.stringify(recipes);
        each recipe in recipes
            -var id = recipe.recipe_id;
            if recipe.is_vegan
                -console.log('yeetmyniggadudehahahahhasmdbitchkjadssa')
            //- -console.log(recipe.author_id)
            //- -console.log(recipe.recipe_id)
            //- -console.log(recipe.image_path)
            //- -console.log(recipe.is_vegan)
            //- -console.log(recipe.recipe_text.steps)
            //- -console.log(recipe.recipe_text.ingredients)
            //- -console.log(recipe.difficulty)
            //- -console.log(JSON.parse(recipe.recipe_text).ingredients)
    //- is_vegan BOOLEAN NOT NULL DEFAULT FALSE,
    //- is_vegetarian BOOLEAN NOT NULL DEFAULT FALSE,
    //- is_dairy_free BOOLEAN NOT NULL DEFAULT FALSE,
    //- is_gluten_free BOOLEAN NOT NULL DEFAULT FALSE,
    //- is_favorite BOOLEAN NOT NULL DEFAULT FALSE,
        

        div.row
            div.col-lg-4.my-3
                div.card
                    img.card-img-top(src='https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/chorizo-mozarella-gnocchi-bake-cropped.jpg')
                    div.card-header.text-center
                        div.tag.gf GF
                        div.tag.v V
                        div.tag.vg VG
                        div.tag.df DF
                    div.card-body
                        h5.card-title.text-center 
                            a(href='/recipes/id') recipe name
                        hr
                        div.row
                            div.col-sm-6.text-left.text-muted difficulty
                            div.col-sm-6.text-right.text-muted total time
            div.col-lg-4.my-3
                div.card
                    img.card-img-top(src='https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
                    div.card-header.text-center
                        div.tag.gf GF
                        div.tag.v V
                        div.tag.vg VG
                        div.tag.df DF
                    div.card-body
                        h5.card-title.text-center 
                            a(href='/recipes/id') recipe name
                        hr
                        div.row
                            div.col-sm-6.text-left.text-muted difficulty
                            div.col-sm-6.text-right.text-muted total time
            div.col-lg-4.my-3
                div.card
                    img.card-img-top(src='https://media-cdn.grubhub.com/image/upload/c_scale,w_1650/q_50,dpr_auto,f_auto,fl_lossy,c_crop,e_vibrance:20,g_center,h_900,w_800/v1534256595/Onboarding/Burger.jpg')
                    div.card-header.text-center
                        div.tag.gf GF
                        div.tag.v V
                        div.tag.vg VG
                        div.tag.df DF
                    div.card-body
                        h5.card-title.text-center 
                            a(href='/recipes/id') recipe name
                        hr
                        div.row
                            div.col-sm-6.text-left.text-muted difficulty
                            div.col-sm-6.text-right.text-muted total time
        div.row
            div.col-lg-4.my-3
                div.card
                    img.card-img-top(src='https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/chorizo-mozarella-gnocchi-bake-cropped.jpg')
                    div.card-header.text-center
                        div.tag.gf-muted GF
                        div.tag.v-muted V
                        div.tag.vg-muted VG
                        div.tag.df-muted DF
                    div.card-body
                        h5.card-title.text-center 
                            a(href='/recipes/id') recipe name
                        hr
                        div.row
                            div.col-sm-6.text-left.text-muted difficulty
                            div.col-sm-6.text-right.text-muted total time
            div.col-lg-4.my-3
                div.card
                    img.card-img-top(src='https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
                    div.card-header.text-center
                        div.tag.gf-muted GF
                        div.tag.v-muted V
                        div.tag.vg-muted VG
                        div.tag.df-muted DF
                    div.card-body
                        h5.card-title.text-center 
                            a(href='/recipes/id') recipe name
                        hr
                        div.row
                            div.col-sm-6.text-left.text-muted difficulty
                            div.col-sm-6.text-right.text-muted total time
            div.col-lg-4.my-3
                div.card
                    img.card-img-top(src='https://media-cdn.grubhub.com/image/upload/c_scale,w_1650/q_50,dpr_auto,f_auto,fl_lossy,c_crop,e_vibrance:20,g_center,h_900,w_800/v1534256595/Onboarding/Burger.jpg')
                    div.card-header.text-center
                        div.tag.gf-muted GF
                        div.tag.v-muted V
                        div.tag.vg-muted VG
                        div.tag.df-muted DF
                    div.card-body
                        h5.card-title.text-center 
                            a(href='/recipes/id') recipe name
                        hr
                        div.row
                            div.col-sm-6.text-left.text-muted difficulty
                            div.col-sm-6.text-right.text-muted total time