doctype html
html
    head
        title= title
        meta(charset='utf-8')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
        link(rel='stylesheet' type='text/css' href='/stylesheets/layout.css')
        if title == "Create Recipe"
            link(rel='stylesheet' type='text/css' href='/stylesheets/create-recipe.css')
    body
        block link
            -var active = '';
        -var nav_menu = { 'All Recipes' : '/recipes', 'Find A Drink' : '/drinks', 'About Us' : '/about', 'My Recipes' : '/recipes/my' };
        div(class='container-fluid')
            header
                div(class='log')
                    if loggedin
                        a(href='/') #[username]
                            i(class='fas fa-sign-out-alt')
                    else
                        a(href="/auth/login") Login
                            i(class="fas fa-sign-in-alt")
                a(href='/')
                    h1 Just A Nibble
                nav(class='navbar')
                    div(class='nav-center')
                        each val, key in menu
                            li
                                if selected === key
                                a.selected(href=val, title=key)= key
                                else
                                a(href=val, title=key)= key
                        each val, key in nav_menu
                            if active === key
                                a.active(href=val, title=key)= key
                        a(class='nav-link' href='/recipes') Satiate
                        a(class='nav-link' href='/drinks') Quench
                        a(class='nav-link' href='/about') About
            block content
            footer
                p Copyright © 2020
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src="https://kit.fontawesome.com/a86f0de539.js" crossorigin="anonymous")
        script
            include ../public/javascripts/layout.js
        script 
            include ../public/javascripts/login.js