extends layout.pug

block link 
    -var active = 'My Recipes';

block content
    main(class='container')
        .row
            if is_writer
                .col-sm-6
                    h1 My Recipes
                .col-sm-6
                    h1.text-right
                        a#createRecipe(href="/recipes/create").align-middle
                            i.fas.fa-plus-circle
            else
                .col-lg-12
                    h1 My Recipes
        .row
        each recipe in recipes
            .col-lg-12
            .card.mx-auto.mb-5(style='width:40em;')
                img.card-img-top(src=bucketurl + recipe.image_path)
                if recipe.is_glutenFree || recipe.is_vegetarian || recipe.is_vegan || recipe.is_dairyFree
                    div.card-header.text-center
                        if recipe.is_glutenFree
                            div.tag.gf GF
                        if recipe.is_vegetarian
                            div.tag.v V
                        if recipe.is_vegan
                            div.tag.vg VG
                        if recipe.is_dairyFree
                            div.tag.df DF
                div.card-body
                    h5.card-title.text-center 
                        a(href='/recipes/' + recipe.recipe_id)= recipe.recipe_name
                    hr
                    div.row
                        div.col-sm-6.text-left.text-muted= recipe.difficulty
                        -
                            var total = recipe.overall_time;
                            total = total.slice(0, -3);
                        div.col-sm-6.text-right.text-muted= total

block scripts
    script
        include ../public/javascripts/my-recipes.js