extends layout.pug

block link 
    -var active = 'My Recipes';

block content
    main(class='container')
        .row
            .col-sm-6
                h1 My Recipes
            .col-sm-6
                h1.text-right
                    a#createRecipe(href="/recipes/create").align-middle
                        i.far.fa-plus-square

block scripts
    script
        include ../public/javascripts/my-recipes.js